<!DOCTYPE html>
<html>
<head>
	<title>Gym tracker</title>
</head>
<body><h1>Gym Home Page</h1>
<form action="/" method="POST">
	<input type="text" name="hi">
	<button type="submit">Data Anylize</button>
	<input type="button" onclick="location.href='https://docs.google.com/spreadsheets/d/1980BeeeYKHyXerBggQJKTpzdibkdfSdX5ORu5cVuRZ0/edit#gid=0';" value="Track workout via Google sheet" />
</form>
</body>
</html>