<!DOCTYPE html>
<html>
<head>
	<title>Gym tracker</title>
</head>
<body><h1>Hello to page 2</h1>
	<input type="button" onclick="location.href='/back';" value="Back" />
	<img src="books_read.png">
	<img src="books_read.png">
	<img src="books_read.png">
	<img src="books_read.png">
	<img src="books_read.png">
	<img src="books_read.png">
	

</body>
</html>